<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Duel Room</title>
        <!-- Change these css locations if you change the folder structure -->
        <link rel="stylesheet" type = "text/css" href="/views/style/duel-jquery-ui.css">
        <link rel="stylesheet" type = "text/css" href="/views/style/duel-style.css">

        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/views/scripts/duel-jquery-ui.js"></script>
        <script>
            $(function () {
            /*$(".draggable1").draggable({ 
            containment: "#opponentField",
            scroll: false,
            cursor: "move",
            cursorAt: { top: 25, left: 15 }
            });
            */
            $(".draggable").draggable({
            containment: "#selfField",
            scroll: false,
            cursor: "move",
            cursorAt: {top: 25, left: 15}
            });
            /*
            $("#chat").on('keyup', function (e) {
            if (e.keyCode == 13)
            {
            send_message(text);
            }
            });
            $("#chat").focusin(function () {
            $("#box").show("blind", "down");
            });
            $("#chat").focusout(function () {
            $("#box").hide("blind", "up");
            });
            */
            });
        </script>
    </head>
    <body>

        <div id="chat"> chat <br/>chat message 1 
            <!--<div id="pause" onclick="send_pause()">Pause</div>
               <div id="forfiet" onclick="send_win()">Forfeit</div>-->
        </div>
        <div class="game">
            <div id="leftBar">Hand and other stuff/tabs </div>

            <div id="opponentField">
                <div class="draggable1 ui-widget-content">
                </div>
                <div class="draggable1 ui-widget-content">
                </div>
                <div class="draggable1 ui-widget-content">
                </div>
                <div class="draggable1 ui-widget-content">
                </div>
                <div class="draggable1 ui-widget-content">
                </div>

                <div id = "opponent_mana" class="mana_zone"></div>
                <div id="opponent_SDGH" class="SDGH">
                    <div id="opponent_hsp" class="col">hsp</div>
                    <div id="opponent_grave" class="col">grave</div>
                    <div id="opponent_deck" class="col">deck</div>
                    <div id="opponent_shields" class="shield_zone col">shields</div>

                </div>              
                <div id= "opponent_bz" class ="battle_zone"></div>
            </div>
            <div id="selfField">
                <div class="draggable ui-widget-content">
                </div>
                <div class="draggable ui-widget-content">
                </div>
                <div class="draggable ui-widget-content">
                </div>
                <div class="draggable ui-widget-content">
                </div>
                <div class="draggable ui-widget-content">
                </div>     
                <div id= "my_bz" class ="battle_zone"></div>

                <div id="my_SDGH" class="SDGH">
                    <div id ="my_shields" class="shield_zone col">my shields</div>
                    <div id="my_deck" class="col">my deck</div>
                    <div id="my_grave" class="col">my grave</div>
                    <div id="my_hsp" class="col">my hsp</div>
                </div>

                <div id ="my_mana" class="mana_zone"></div>
            </div>


        </div>


    </body>
</html>