<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Duel Room</title>
        <!-- Change these css locations if you change the folder structure -->
        <link rel="stylesheet" type = "text/css" href="/views/style/duel-jquery-ui.css">
        <link rel="stylesheet" type = "text/css" href="/views/style/duel-style.css">

        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/views/scripts/duel-jquery-ui.js"></script>
        
    </head>
    <body onresize="setTimeout(arrangeCards, 250)">
        <div id="right_bar"> 
            <div id="chat">
                chat <br/>chat message 1 
            </div>
            <div id="my_player_box" class="player_box"> 
                <div id="my_deck">Your deck</div>
                <div id="my_profile_pic">Your pic</div>
                <div id="my_name">You</div>

            </div>
            <div id="turn_buttons">
                <button id="next">Next</button>
                <button id="end">End</button>
            </div>
        </div>
        <div class="game">
            <div id="left_bar">
                <div id="opp_hand" class="hand">Opponent's Hand</div>
                <div id="opp_player_box" class="player_box">
                    <div id="opp_deck">Opp deck</div>
                    <div id="opp_profile_pic">Opp pic</div>
                    <div id="opp_name">Opponent's Name</div>
                </div>
                <div id="zone_view">
                    Zone View
                    <!-- need tabs in this thing -->
                </div>
            </div>

            <div id="opponent_field">

                <div id = "opponent_mana" class="mana_zone">  
                    <div class="card opp_mana_card"></div>
                    <div class="card opp_mana_card"></div>
                    <div class="card opp_mana_card"></div>
                    <div class="card opp_mana_card"></div>
                    <div class="card opp_mana_card"></div>
                </div>
                <div id="opponent_SDGH" class="SDGH">
                    <div id="opponent_hsp" class="col">hsp</div>
                    <div id="opponent_grave" class="col">grave</div>

                    <div id="opponent_shields" class="shield_zone col">shields</div>

                </div>              
                <div id= "opponent_bz" class ="battle_zone"></div>
            </div>
            <div id="self_field">

                <div id= "my_bz" class ="battle_zone">My BattleZOne  
                    <div class="draggable ui-widget-content">
                    </div>
                    <div class="draggable ui-widget-content">
                    </div>
                    <div class="draggable ui-widget-content">
                    </div>
                    <div class="draggable ui-widget-content">
                    </div>
                    <div class="draggable ui-widget-content">
                    </div>     
                </div>   

                <div id="my_SDGH" class="SDGH">  <!-- The division for Shield, Deck, Grave, HSP = SDGH -->
                    <div id ="my_shields" class="shield_zone col">my shields</div>
                    <div id="my_grave" class="col">my grave</div>
                    <div id="my_hsp" class="col">my hsp</div>
                </div>

                <div id ="my_mana" class="mana_zone">
                    <div class="card my_mana_card"></div>
                    <div class="card my_mana_card"></div>
                    <div class="card my_mana_card"></div>
                    <div class="card my_mana_card"></div>
                    <div class="card my_mana_card"></div>

                </div>
            </div>
            <div id ="my_hand">
                           
                <div class="card my_hand_card"></div>
                <div class="card my_hand_card"></div>
                <div class="card my_hand_card"></div>
                <div class="card my_hand_card"></div>
                <div class="card my_hand_card"></div>
                <div class="card my_hand_card"></div>              
                <div class="card my_hand_card"></div>
                <div class="card my_hand_card"></div>
                <div class="card my_hand_card"></div>
                <div class="card my_hand_card"></div>
                <div class="card my_hand_card"></div>
            </div>
        </div>
    </body>
    <script>
            $(function () {  
                $(".draggable").draggable({
                    containment: "#selfField",
                    scroll: false,
                    cursor: "move",
                    cursorAt: {top: 30, left: 20}
                });
            });
            function getE(id){
                return document.getElementById(id);
            }
            // Arrange hand cards 
            var container = getE("my_hand");
            function arrangeCards(){
                var cards = document.getElementsByClassName("my_hand_card");
               
                cw = container.clientWidth -0.01*$(window).height();    //viewable width
                sw = $(cards[0]).outerWidth(true)*cards.length;     //width including overflow
                diff=0;
                if(sw>cw)diff = sw-cw;
                offset = diff / (cards.length -1 );
              
                for (var i = 1; i < cards.length; i++) {
                    cards[i].style.transform = "translateX(-" + offset * i + "px)";               
                  }
            }
            setTimeout(arrangeCards, 250);
         
            
            
            var b = document.getElementById("next");
            b.addEventListener("click", function() {              
              //stuff to do when next is clicked
            });
        </script>
</html>