* {
    box-sizing:border-box;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition:0.2s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #808080;
    margin: 1px 1px 1px 1px;

}

.ui-draggable, .ui-droppable {
    background-position: top;
}

.card{
    width: 7vh;
    height: 9.75vh;   
    background: url(/views/images/cardback.jpg);
    background-size: cover;    
    border-radius: 5%;
}

.game {
    width: 80%;
    height: 99.5vh;
    overflow: hidden;
    float: left;
}

/* --------------- right bar stuff ---------------*/
#right_bar {
    border: none;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 99.5vh;
    background-color: #FFFFFF;
    float: right;
    outline:1px solid  #808080;
    outline-offset: -1px;
}
#chat{
    height:50%;
    outline:1px solid  #808080;
    outline-offset: -1px;
}
.player_box{  /* applies to opp box in left as well */
    height:40%;
    outline:1px solid  #808080;
    outline-offset: -1px;
}
#my_deck{
    float:left;
    outline:inherit; outline-offset: inherit;
    width:11vh;
    height:75%;
}
#my_profile_pic{
    outline:inherit; outline-offset: inherit;
    float:right;
    width:calc(100% - 11vh);
    height:75%;
}
#my_name{
    float:left;
    outline:inherit; outline-offset: inherit;
    width:100%;
    height:25%;
}

/* --------------- left bar stuff ---------------*/

#left_bar {
    border: none;
    width: 25%;
    height: 100%;
    background-color: #FFFFFF;
    float: left;
    outline:1px solid  #808080;
    outline-offset: -1px;
}
/* opp box already done in player box class */
#opp_deck{
    float:right;
    outline:inherit; outline-offset: inherit;
    width:11vh;
    height:75%;
}
#opp_profile_pic{
    outline:inherit; outline-offset: inherit;
    float:left;
    width:calc(100% - 11vh);
    height:75%;
}
#opp_name{
    float:left;
    outline:inherit; outline-offset: inherit;
    width:100%;
    height:25%;
}
#opp_hand{
    height:11.7%;
    outline:1px solid  #808080;
    outline-offset: -1px;
}
/*----------- zone view ---------------*/
#zone_view{
    height:48.3%;
    outline:1px solid  #808080;
    outline-offset: -1px;
}

/*-------------  field  ---------------*/
#opponent_field {
    width: 75%;
    height: 39%;
    background-color: #808080;
    float: right;
}
#self_field {
    width: 75%;
    height: 39%;
    background-color: #808080;
    float: right;

}

#my_hand{  
    width: 75%;
    height: 22%;
    background-color: #ffffff;   
    display: flex;
    overflow:visible;
    justify-content: flex-start;
}
.my_hand_card{
    position:relative;
    margin: 1.2vh 0 1.2vh 1vh; /* left margin */
    flex-shrink: 0;
    width: 14.2vh;
    height: 20vh;
    border:1px solid  #808080;
    background-size: cover;   

}
.my_hand_card:hover {
    margin: -3.3vh -1.8vh 1.2vh 1vh; /* left margin */
    float:left;
    width: 16vh;
    height: 22.5vh;
    background-size: cover;
}

.battle_zone {
    height: 42%;
    background-color: #fff0f0;

    outline:1px solid  #808080;
    outline-offset: -1px;
}
.SDGH {
    height: 28%;
    background-color: #000000;
}
.col {
    float: left;
    position: relative;
    background: #000000;
    float:left;
    outline:1px solid  #808080;
    outline-offset:-1px;
    height: 100%;
}
.shield_zone {
    width: calc( 100% - 16vh ); /*will not work in older browsers, use moz, webkit, o prefixes*/
    background-color: #ebedff;
}

#my_grave {
    float:right;
    width: 8vh;
    background-color: #ebedff;

}
#my_hsp {
    float: right;
    width: 8vh;
    background-color: #ebedff;

}

#opponent_grave {
    width: 8vh;
    background-color: #ebedff;

}
#opponent_hsp {
    width: 8vh;
    background-color: #ebedff;

}
.mana_zone {
    height: 30%;
    background-color: #ebffeb;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    outline:1px solid  #808080;
    outline-offset:-1px;
}
.mana_zone:before {  /*added pseudo element because vertical align doesn't work with mana cards being inline-blocks */
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.my_mana_card {
    display: inline-block;
    white-space: normal;
    margin: 0 1vh 0 1vh;
    vertical-align: middle;
}
.opp_mana_card {
    display: inline-block;
    white-space: normal;
    margin: 0 1vh 0 1vh;
    vertical-align: middle;

    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}
#opponent_mana {
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.draggable1,.draggable { 
    transition:0s;
    width: 7vh;
    height: 9.75vh;
    border-radius: 5%;
    background: url(/views/images/cardback.jpg);
    /* CHANGE this if you change folder structure. */
    float: left;
    z-index: 998;
    background-size: contain;

}
.draggable1:hover,.draggable:hover {
    /* width: 10vh;
     height: 14vh; */
    transition:0s;
    background-color: #FFFF00;
    z-index: 999;
    cursor: move;
}