* {box-sizing:border-box}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #808080;
    margin: 1px 1px 1px 1px;
    
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

.card{
    width: 7vh;
    padding-bottom:8%;
    
    background: url(/views/images/cardback.jpg);
    background-size: cover;    
}
#chat {
    border: none;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 99.5vh;
    background-color: #FFFFFF;
    float: right;
    outline:1px solid  #808080;
    outline-offset: -1px;
}
.game {

    width: 80%;
    height: 99.5vh;
    overflow: hidden;
    float: left;
}
#left_bar {
    border: none;
    width: 25%;
    height: 100%;
    background-color: #FFFFFF;
    float: left;
    outline:1px solid  #808080;
    outline-offset: -1px;
}
#opponent_field {
    width: 75%;
    height: 39%;
    background-color: #808080;
    float: right;
}
#self_field {
    width: 75%;
    height: 39%;
    background-color: #808080;
    float: right;

}

#my_hand{
    width: 75%;
    height: 22%;
    float:right;
    background-color: #ffffff;
    outline:1px solid  #808080;
    outline-offset:-1px;
    
    overflow:auto;
}
.centerer_h{
    display: table;
    height:100%;
    margin: 0 auto;
   
 
}
.my_hand_card{
    margin: 1.2vh 0 1.2vh 1vh; /* left margin */
    float:left;
    width: 14vh;
    height: 90%;
    padding-bottom: 32%;
    background-size: cover;   
}

.battle_zone {
    height: 42%;
    background-color: #fff0f0;

    outline:1px solid  #808080;
    outline-offset: -1px;
}
.SDGH {
    height: 28%;
    background-color: #000000;
}
.col {
    float: left;
    position: relative;
    background: #000000;
    width: 20%;
    outline:1px solid  #808080;
    outline-offset:-1px;
    height: 100%;
}
.shield_zone {
    width: 73%;
    background-color: #ebedff;

}
#my_deck { 
    width: 9%;
    background-color: #ebedff;

}
#my_grave {
    width: 9%;
    background-color: #ebedff;

}
#my_hsp {
    width: 9%;
    background-color: #ebedff;

}
#opponent_deck { 
    width: 9%;
    background-color: #ebedff;

}
#opponent_grave {
    width: 9%;
    background-color: #ebedff;

}
#opponent_hsp {
    width: 9%;
    background-color: #ebedff;

}
.mana_zone {
    height: 30%;
    background-color: #ebffeb;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    outline:1px solid  #808080;
    outline-offset:-1px;
}
.mana_zone:before {  /*added pseudo element because vertical align doesn't work with mana cards being inline-blocks */
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.my_mana_card {
    display: inline-block;
    white-space: normal;
    margin: 0 1vh 0 1vh;
    outline:1px solid  #808080;
    outline-offset:-1px;
    vertical-align: middle;
}

.opp_mana_card {
    display: inline-block;
    white-space: normal;

    margin: 1vh 1vh 0 1vh;

    outline:1px solid  #808080;
    outline-offset:-1px;

    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}
#opponent_mana {
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.draggable1,.draggable { 
    width: 8.5vh;
    height: 12vh;
    background-color: #00FF00;
    float: left;
    z-index: 998;
    content: '';
    background: url(/views/images/cardback.jpg);
    background-size: cover;
    /* CHANGE this if you change folder structure. */
}
.draggable1:hover,.draggable:hover {
    /* width: 10vh;
     height: 14vh; */
    background-color: #FFFF00;
    z-index: 998;
    cursor: move;
}